.breadcrumbs {
	display: flex;
	align-items: center;
	margin-bottom: 25px;
	margin-top: 10px;

	span {
		&::after {
			content: "/";
			display: inline-block;
			margin: 0 5px;
		}

		&:last-child::after {
			content: '';
		}
	}
}